*{
    padding:0px;
    margin:0px;
    color:dimgray;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.45;

}
 #logo{
    background-image: url(../res/logo_active.png);
    background-size:cover;
    display:block;
    height:67px;
    width:150px;
    margin:10px 24px;
}
#logo:hover{
    background-image: url(../res/logo_inactive.png);
}
#navigation{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height:70px;
    background: #eaeaea;
    background: -moz-linear-gradient(top, #eaeaea 0%, #c6c6c6 100%);
    background: -webkit-linear-gradient(top, #eaeaea 0%,#c6c6c6 100%);
    background: linear-gradient(to bottom, #eaeaea 0%,#c6c6c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#c6c6c6',GradientType=0 );
    position: fixed;

}
#navigation li{

}
.nav-link{
    border-color: darkgray;
    border-width: 0 0.5px 0.5px 0.5px;
    border-style: solid;
    padding: 27px 16px;
    text-decoration: none;
    
}
.nav-link:hover{
    transition: background-color 0.4s ease-out;
    background-color: darkgrey;
}