*{
    padding:0px;
    margin:0px;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.45;
    box-sizing: border-box;
}
a{
    text-decoration: underline;
}
a:hover{
    color:#68d199;
    text-decoration: underline;
}
header h1{
    font-size: 48px;
}
main{
  padding-top: 100px;
  padding-left: 70px;
  padding-right:70px; 
}
section{
    padding-top:50px;
}

 #logo{
    background-image: url(../res/logo_active.png);
    background-size:cover;
    height:67px;
    width:150px;
    margin:10px 24px;
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}
#logo:hover{
    background-image: url(../res/logo_inactive.png);
}
.toggle-switch{
    position:absolute;
    top:30px;
    right:20px;
    color:dimgray;
    font-size: 30px;
}
nav{
    background: #eaeaea;
    background: -moz-linear-gradient(top, #eaeaea 0%, #c6c6c6 100%);
    background: -webkit-linear-gradient(top, #eaeaea 0%,#c6c6c6 100%);
    background: linear-gradient(to bottom, #eaeaea 0%,#c6c6c6 100%);
    padding-top:10px;
    padding-bottom:10px;
    position:fixed;
    width:100%;
}

nav ul{
    list-style-type: none;
    display:none;
}
nav ul li{
    text-align: center;
    margin: 0px auto;
    border-color: darkgray;
    border-width: 0 0.5px 0.5px 0.5px;
    border-style: solid;
    padding: 25px 16px;
   
}
nav ul li:hover{
    transition: background-color 0.4s ease-out;
    background-color: darkgrey;
}
.nav-link{
    color:dimgrey;
    text-decoration: none;
}
.nav-link:hover{
    color:dimgrey;
    text-decoration: none;
}
#textbox{
    padding:50px;
    border-color: darkgray;
    border-top-color: aquamarine;
    border-width: 2px;
    border-style: solid; 
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 5px 5px grey;
    column-count: 1;

}
#textbox:hover{
    transition: box-shadow 0.1s;
    box-shadow: 0px 3px 2px grey;
}
.mobile{
    display: block;
}
@media screen and (min-width: 321px) {
    #textbox{
        column-count: 2;
    }
    main{
        padding-left: 20px;
        padding-right: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    nav{
        display: flex;
        justify-content: left;
        height: 70px;
        align-items: center;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
    }
    .toggle-switch{
        display:none;
    }
    #textbox{
        column-count: 3;
    }
    article{
        padding-left: 50px;
        padding-right:50px;
    }
}

  
@media screen and (min-width: 1200px) {
    main{
        width:1170px;
        margin: 0px auto;
    }
}

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
